node_modules/
out/
vendor/
.env
.vscode/
.jaccache/
.jac/
.vscode-test/
.DS_Store
package-lock.json
jac.local.toml
tests-js/node_modules
tests-integration/node_modules
tests-integration/out
tests-integration/.build
